<section class="slider" role="presentation">
  <button type="button" class="prev-btn" (click)="prevMovie()">
    <mat-icon>arrow_back_ios</mat-icon>
  </button>
  <ngx-slick-carousel
    class="carousel"
    [config]="slideConfig"
    #slickModal="slick-carousel"
    style="width: 100%; height: 100%"
  >
    <a
      *ngFor="let movie of resultTrendingMovies"
      [routerLink]="['/selected-movie']"
      [queryParams]="{ id: movie.id, type: 'trending' }"
      ngxSlickItem
      style="width: 85vw !important"
    >
      <figure class="each-movie-figure">
        <img
          src="{{ moviesPoster + movie?.backdrop_path }}"
          [alt]="movie.title + ' Poster'"
          min-height="250px"
        />
        <figcaption>
          <p>
            {{ movie.title || movie.original_name }}
          </p>
        </figcaption>
      </figure>
    </a>
  </ngx-slick-carousel>
  <button type="button" class="next-btn" (click)="nextMovie()">
    <mat-icon>arrow_forward_ios</mat-icon>
  </button>
</section>
