<section class="slider" role="presentation">
  <figure
    *ngFor="let movie of resultTrendingMovies; let i = index"
    [ngStyle]="{
    transform: 'translateX(' + (100 * i - currSliderImg) + '%)',
  }"
    [class.figure-transition]="playTransition"
  >
    <a [routerLink]="['/selected-movie']" [queryParams]="movie">
      <img
        src="{{ moviesPoster + movie.backdrop_path }}"
        alt="{{ movie.title + ' Poster' }}"
      />
    </a>
    <figcaption>
      {{ movie.original_title || movie.original_name }}
    </figcaption>
  </figure>
  <button type="button" (click)="checkClick(); prevImage()" class="prev-btn">
    <mat-icon>arrow_back_ios</mat-icon>
  </button>
  <button type="button" (click)="checkClick(); nextImage()" class="next-btn">
    <mat-icon>arrow_forward_ios</mat-icon>
  </button>
</section>
