<!-- <mat-drawer #drawer class="example-sidenav" mode="side"> -->
<!-- <p>Auto-resizing sidenav</p>
  <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
  <button (click)="showFiller = !showFiller" mat-raised-button>
    Toggle extra text
  </button>
</mat-drawer> -->

<p>Lorem, ipsum.</p>
<p>Auto-resizing sidenav</p>
<p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
<button (click)="showFiller = !showFiller" mat-raised-button>
  Toggle extra text
</button>

<div class="example-sidenav-content">
  <button type="button" mat-button>Toggle sidenav</button>
</div>
