.imprint {
  padding-inline: 60px;
  margin-block: 48px;
  h1 {
    font-size: 3rem;
    margin-block-end: 32px;
  }
  h2 {
    margin-block: 24px;
  }
}

@media (max-width: 572px) {
  .imprint {
    padding-inline: 32px;
  }
}
