<section class="forgot-password-sec">
  <h2>Forgot Password</h2>
  <form
    action=""
    class="d-flex"
    (ngSubmit)="sendEmail(email.value)"
    ngNativeValidate
  >
    <input
      required
      #email
      type="email"
      id="email"
      placeholder="Enter your email"
      class="form-control"
    />
    <button class="d-flex">
      <p *ngIf="!loading">Reset Password</p>
      <mat-spinner
        color="accent"
        diameter="20"
        class="loading"
        *ngIf="loading"
      ></mat-spinner>
    </button>
  </form>
  <p class="success-msg" [ngClass]="{ show: successful }" *ngIf="successful">
    Mail sent successfully.
  </p>
  <p class="error-msg" *ngIf="emailNotExists">
    No User found with this email. <br />
    Please try again or register for an account.
  </p>
</section>
