@import "../../variables.scss";

.forgot-password-sec {
  padding: 24px;
  color: black;
}
.forgot-password-sec h2 {
  font-size: clamp(1.5rem, 5vw, 2.25rem);
  text-align: center;
  margin-block-end: 32px;
}

form {
  flex-direction: column;
  color: black;
  gap: 24px;
  font-size: 16px;
  width: 100%;
  input {
    width: 100%;
    padding: 16px 12px;
    border-radius: 5px;
    border: 1px solid black;
  }
  button {
    background-color: $text-accent-color;
    padding: 16px 12px;
    width: 100%;
    border-radius: 5px;
    color: white;
  }
}

.error-msg {
  max-width: fit-content;
  color: #d71313;
  font-weight: 500;
  margin-block-start: 16px;
}

.success-msg {
  position: fixed;
  top: 32px;
  right: -100%;
  border-radius: 12px;
  background-color: $text-accent-color;
  padding: 12px 8px;
  transition: right 0.3s ease-in-out;
}

.show {
  right: 32px;
}
