$primary-color: #000000;
$secondary-color: #181818;
$muted-color: #cdcdcd;
$text-primary-color: #fff;
$text-secondary-color: #000;
$text-accent-color: #654e92;
$main-margin-bottom: 35px;
$main-border-radius: 30px;
$main-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
$design-padding: 16px;
